@import url(http://fonts.googleapis.com/css?family=Cabin:400,500);

body {
  background-color: rgba(237, 239, 236, 1);
  font-family: 'Cabin', sans-serif;
  color: rgba(85, 89, 92, 1);
}

h2, h3 {
  text-align: center;
  margin-bottom: -7px;
}

h3 {
  font-size: .75rem;
  font-weight: 100;
}

h5 {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  margin: 0 auto;
  transform: translate(0%, 525%);
}

img {
  width: 250px;
  height: 273px;
}

button {
  width: 250px;
  height: 35px;
  border: 1px solid rgba(196, 196, 196, 1);
  background-color: rgba(255, 255, 255, 1);
  color: rgba(85, 89, 92, 1);
  font-size: .75rem;
  font-weight: 600;
  margin: 33px 0 0 10px;
}

.secBlock {
  text-align: center;
  padding-top: 16px;
}

.city {
  background-size: cover;
  width: 255px;
  margin: 10px 0 0 10px;
  display: inline-block;
}
