h1 {
    font-size:15px;
    text-align: center;
}
h2 {
  font-size:10px;
  text-align: center;
}

body{
display:flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}

img{
  width:150px;
}
.button{
  display: flex;
}
