h1, p, button {
  color: rgb(86,	90,	93);
  font-family: 'Lato', sans-serif;
  text-align: justify;
}
h1{
  margin: 20px auto 10px;
  font-size: 20px;
  font-weight: bolder;
}
p{
  margin: 0 auto 10px;
  font-size: 10px;
}
body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(237,	239,	236);
  margin-bottom: 20px;
}
div{
  height: 215px;
  width: 195px;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
  margin: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}
section{
  display: flex;
  justify-content: center;
  padding: 10px 10px 20px;
}
.san_francisco_1{
  background-image: url(../img/san-francisco.jpg);
}
.new_york{
  background-image: url(../img/new-york.jpg);
}
.london{
  background-image: url(../img/london.jpg);
}
.napa{
  background-image: url(../img/napa.jpg);
}
.sonoma{
  background-image: url(../img/sonoma.jpg);
}
.san_francisco_2{
  background-image: url(../img/san-francisco-2.jpg);
}
button{
  border: 1px solid rgb(196, 196, 196);
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 0;
  width: 210px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
}
