body{
  font-family: 'CarlitoRegular';
  font-weight: normal;
  font-style: normal;
}
header {
  text-align: center;
}

h1{
  padding: 0px 0px 0px 0px;
  margin: 0 auto;
}

p{
  margin: 0 auto;
}
section{
  text-align: center;
  padding-bottom: 25px;
  padding-top: 10px;
  margin-bottom: 10px;
}
/*get rid of the magin bottom before submitting*/

#section1 {
  min-height: 200px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.button{
align-content: center;
margin-top: 10px;
}

#section2 {
  min-height: 200px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sf{
  height: 180px;
  width:180px;
  background: red;
}
.ny{
  height: 180px;
  width:180px;
  background: red;
}
.ln{
  height: 180px;
  width:180px;
  background: red;
}
.napa{
  height: 180px;
  width:180px;
  background: red;
}

.sonoma{
  height: 180px;
  width:180px;
  background: red;
}

.sf2{
  height: 180px;
  width:180px;
  background: red;
}
